hmtl,
:root{
    --accent-color: greenyellow;
    --accent-color2: orangered;
}


body {
    height=100%;   
}

#maincover {
    background: gray;
    background: url('/img/worldMap_styled2.jpg.jpeg') no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    height:100%;
    text-align: center;
    display:block;
    align-items: center;
    border-bottom: 7px solid gray;


}

.title-holder {
   margin: 40px 100px 40px 100px;
}
#siteTitle {
    padding: 15px 100px 15px 100px;
    border: 4px solid black;
    color: orangered;
    background-color: white


}

.introVid {
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid black;
    opacity:.6;
    vertical-align: middle;
    line-height: 300px;
}


#workspace {
    background: gray;
    background-image: url('../img/cork.jpg');

    height:100%;
    text-align: center;
    display: flex;
    align-items: center;
   /* cursor: move;*/
}
.tour{
    display: inline;
    align-content: center;
    color: black;
    background-color: white;
    padding: 35 px;
    margin-left: 100px;
}
 .tour button{
    margin: 15px;
    margin-top: 5px;
}

h1{
    color:white;
    text-shadow: 2px 2px 5px gray;
    font-family: 'Fjalla One', sans-serif;
}


.card {
    border-radius: 5px;
    resize: both;
    overflow: hidden;
    border: none;

}

.card-block {
    padding: 5px;
    position: relative;
    max-height: 500px;
    overflow-y: scroll;
}
.card-header {
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    height: 600 px;
    background-color: #373a3c;
    padding: 3px;
    font-weight: 400;
    opacity: .5,

}

.narrow {
  width: 200px;


 }
.wide {
  width: 600px;

 }

img {

}

.navbar .fa {
    margin-left: 14px;
}

.dropdown-header {
    color:black;
    padding-left: 4px;
    line-height: 50%;
}

.dropdown-menu {
  line-height: 50%;
}

.dropdown-item {


    margin: none;

}

#projectName {
    color: white;
    font-weight: 300;
    margin-right:40px;
}


#FAQ {
    text-align: left;
}

.faq-answer {
    margin-left: 25px;
}

.questionIcon {
    color: var(--accent-color)
}

#askQuestionBtn {
    margin-top: 10px;
    background-color: var(--accent-color);
    border:none;
}



#questions {
    background-color: white;
    padding: 30px;
}

.blockquote {
    padding:0px 100px 0px 100px;
    text-align: center;
    border-left: none;
    margin-top: 40px;
}

.pheader {
    font-weight: 600;
    color: var(--accent-color2)
}



    @media (max-width: 967px) {
  .blockquote {
    padding:0px;
  }






#space {
  width: 100%;
    }
